/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cards__populares {
  display: flex;
  justify-content: space-around;
}
.cards__populares .card {
  background-color: #F3F3F3;
  width: 300px;
  height: 325px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 50px;
}
.cards__populares .card img {
  width: 200px;
  height: 222px;
  margin-top: -50px;
  padding-bottom: 20px;
  filter: drop-shadow(6px 8px 4px rgba(97, 97, 97, 0.7058823529));
}
.cards__populares .card__content h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
.cards__populares .card__content p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #292929;
  padding: 20px 0;
}
.cards__populares .card__content span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

@media (max-width: 767.98px) {
  .cards__populares {
    flex-direction: column;
    width: 90vw;
  }
  .cards__populares .card {
    margin: 0 0 5rem;
    width: 100%;
  }
}
.cards__comentarios {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
.cards__comentarios .card {
  justify-content: left;
  background-color: #F3F3F3;
  padding: 30px 20px;
  width: 450px;
  border-radius: 15px;
}
.cards__comentarios .card img {
  width: 100px;
}
.cards__comentarios .card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #292929;
  padding: 10px 0;
}
.cards__comentarios .card p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #616161;
  padding: 0 0 10px 0;
}

@media (max-width: 767.98px) {
  .cards__comentarios {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .cards__comentarios .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 200px;
    margin: 30px 0;
  }
}
footer {
  display: flex;
  width: 90vw;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
}
footer img {
  width: 100px;
  height: 25px;
}
footer .card {
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: left;
}
footer .card h2 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "MontSerrat", sans-serif;
  color: #292929;
}
footer .card a {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #616161;
}
footer .hidden {
  display: none;
}

@media (max-width: 767.98px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .card {
    height: auto;
    text-align: center;
    margin: 10px 0;
  }
  footer .card h2 {
    padding: 10px;
    font-size: 1rem;
  }
}
main {
  width: 90vw;
  margin: 0 auto;
}

section :last-of-type {
  margin-bottom: 2rem;
}

.preparo > img {
  width: 500px;
  border-radius: 10px;
}

section {
  max-height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
section > .conteudo {
  width: 40%;
}
section > .conteudo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
section > .conteudo p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 48px 0;
  line-height: 2rem;
}
section > .conteudo button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: #DA2535;
  cursor: pointer;
  transition: 0.3s;
  color: #FBFBFB;
}
section > .conteudo button:hover {
  background-color: transparent;
  border: 2px solid #292929;
  color: #292929;
}
section > .conteudo a {
  color: #DA2535;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  .preparo > img, .intro > img {
    display: none;
  }
  .preparo .conteudo h2:last-of-type {
    white-space: normal;
    text-align: center;
  }
  .preparo .conteudo p {
    text-align: center;
  }
  section {
    width: 90vw;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  section > .conteudo {
    width: 90vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  section > .conteudo > h2 {
    font-size: 2.4rem;
    white-space: nowrap;
  }
  section > .conteudo button {
    width: 90vw;
  }
  section > .conteudo > a {
    font-size: 1rem;
  }
}
iframe {
  width: 100%;
  height: 450px;
  margin-bottom: 3rem;
  border-radius: 20px;
  border: 2px solid #292929;
  filter: drop-shadow(6px 6px 5px rgba(97, 97, 97, 0.7725490196));
}

@media (max-width: 767.98px) {
  iframe {
    margin: 1rem 0 3rem;
  }
}
.location {
  display: flex;
  flex-wrap: nowrap;
  width: 90vw;
  height: 40px;
  margin: 0 auto 50px;
}
.location input {
  width: 80%;
  height: 35px;
  border: 1px solid #292929;
  outline: none;
  background: url("../../public/imagens/icons/map-pin.png");
  background-size: 25px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.location > .button--location {
  width: 15%;
  height: 40px;
  border: 1px solid #DA2535;
  background-color: #DA2535;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: #FBFBFB;
  transition: 0.2s;
}
.location > .button--location:hover {
  background-color: rgb(85, 0, 0);
  border: 1px solid rgb(85, 0, 0);
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .location > .button--location {
    background-image: url("../../../public/imagens/icons/search.png");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 7.5rem;
  width: 90vw;
}
.navbar__menu {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.navbar__menu > a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #292929;
  transition: 0.2s;
}
.navbar__menu > a:hover {
  font-size: 26px;
  color: #DA2535;
}
.navbar .button--login {
  width: 150px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.navbar .button--login:hover {
  transform: scale(1.1);
  background-color: #DA2535;
  color: #FBFBFB;
}

@media (max-width: 767.98px) {
  .navbar {
    display: flex;
    width: 90vw;
    justify-content: space-between;
  }
  .navbar__menu {
    display: none;
  }
}
main > .subtitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

@media (max-width: 767.98px) {
  main > .subtitle {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
