main 
    //apresentação do restaurante
    section :last-of-type{
        margin-bottom: 5rem;
    }

    .preparo > img{
        width: 500px;
        border-radius: 10px;
    }

    section {
        max-height: 500px;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        & > .conteudo {
            width: 40%;

            & h2{
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 1.6rem;
            }

            & p{
                font-family: "Inter", sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                margin: 0 0 48px 0;
                line-height: 2rem;
            }

            & button{
                width: 250px;
                height: 50px;
                border-radius: 10px;
                border: none;
                font-family: "Inter", sans-serif;
                font-weight: 600;
                font-size: 24px;
                background-color: $red;
                cursor: pointer;
                transition: .3s;
                color: $white;
        
                &:hover{
                    background-color: transparent;
                    border: 2px solid $black;
                    color: $black;
                }
            }

            & a {
                color:$red;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 1rem;
            }
        }
}

main > .subtitle{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 5rem;
}

//cards Populares
.cards__popular{
    width: 300px;
    height: 400px;

    .card{
        background-color: $white-200;

        & img{
            width: 200px;
        }

        &__content{

            & h3{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 1.3rem;
            }

            & p {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: .8rem;
            }

            & span {
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 2.4rem;
            }
        }
    }
}

